<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{HH:mm:ss.SSS} |-%highlight(%level) in [%logger{10}:%line] - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.phantomstr.testing.tool.config" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
